body {
  color: #434455;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header > .container {
  display: flex;
}

.container {
  max-width: 1158px;
  padding: 0 16px;
  margin: 0 auto;
}

.header-logo {
  display: inline-flex;
  align-items: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
}

.logo-light {
  color: #2e2f42;
}
.menu-nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  margin-right: 332px;
}

.menu-nav-list {
  display: flex;
  justify-content: center;
  gap: 40px;

  font-weight: 500;
}

.menu-nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.contact-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-left: auto;
}

.contact-item {
  display: inline-flex;
  align-items: center;

  font-weight: 400;
}
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.menu-nav-link:hover,
.menu-nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
.solutions {
  padding: 188px 0;
  background-color: #2e2f42;
}

.title {
  width: 496px;
  height: 120px;
  margin-inline: auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.button {
  margin-top: 48px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 16px 32px;

  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}
.advantages {
  padding: 120px 0;

  background-color: #fff;
}

.features-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.features-item {
  width: 264px;
}

.features-title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.team {
  background: #f4f4fd;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-item {
  background: #fff;
}

.team-title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-title-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.portfolio {
  background: #fff;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.portfolio-titke-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
}

.footer {
  background-color: #2e2f42;
}
.footer-logo .logo-light {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
